:root {
  --bs-black: #000;
  --bs-brown: #393423;
  --bs-grey-2: #444;
  --bs-grey-3: #ccc;
  --bs-grey-4: #222;
  --bs-grey-5: #333;
  --bs-grey-6: #999;
  --bs-cape-honey: #ffe9ab;
  --bs-cerulean: #00aced;
  --bs-code-grey: #1d1d1d;
  --bs-chathams-blue: #0f4f7e;
  --bs-chathams-blue-2: #005999;
  --bs-chathams-blue-3: #87a7be;
  --bs-chathams-blue-4: #e1ebf4;
  --bs-crete: #4b5e26;
  --bs-light-green: #eaf0dc;
  --bs-dark-burgundy: #821206;
  --bs-emperor: #4f4f4f;
  --bs-madison: #093058;
  --bs-pampas: #f6f5f0;
  --bs-pablo: #73705f;
  --bs-white: #fff;
  --bs-pablo-2: #706d61;
  --bs-purple: #44136c;
  --bs-purple-2: #956cb7;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #4b5e26;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 75, 94, 38;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-serif: "Times New Roman", Times, serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.75;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #005999;
  --bs-link-hover-color: #003e6b;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

/* Global styles */

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0 auto;
  max-width: 1000px;
}

a:link,
a:visited {
  color: var(--bs-link-color);
}

a:hover {
  color: var(--bs-link-hover-color);
}

/* Skip links styling */
.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}

/* Title and logo styling */

.disclaimer {
  font-family: var(--bs-body-font-family);
  padding-left: 10px;
  padding-right: 10px;
}
a {
  text-decoration: none;
}
.site-title {
  display: flex;
  align-items: center;
}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
  color: white;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

/* Global header */
.global-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--bs-black);
  fill: white;
}
#global-nav-toggle {
  background-color: transparent;
  border: transparent;
  color: white;
  font-size: 20px;
  border-left: 1px solid white;
  padding-left: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.global-header-right {
  display: flex;
  align-items: center;
}
.global-header-right a {
  display: flex;
  align-items: center;
  line-height: 1;
}
.global-header-right .icon + span {
  vertical-align: middle;
}
.global-header-right svg {
  width: 20px;
  height: 20px;
  display: block;
}

/* glabal nav */
.global-nav {
  width: 100%;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

#global-nav.show {
  width: 100%;
  border-top: 1px solid #333;
  overflow: hidden;
  transition: all 0.5s;
  max-height: 500px;
  color: white;
}

#global-nav a{
  color: white;
}

.global-nav button {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

.global-nav svg {
  --icon-color: white;
}

.global-nav-toggle--closed {
  display: flex;
  align-items: center;
}
.global-nav-toggle--open {
  display: none;
  align-items: center;
}

.global-nav-toggle[aria-expanded="true"] .global-nav-toggle--closed {
  display: none;
}
.global-nav-toggle[aria-expanded="true"] .global-nav-toggle--open {
  display: flex;
}

/* nav menu/submenu */
/* .global-nav-submenu {
  list-style-type: none;
} */

.global-nav__section-heading {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem 0.625rem;
  font-size: 1.25rem;
}
.section-heading--green {
  color: var(--bs-light-green);
}
.section-heading--blue {
  color: var(--bs-chathams-blue-3);
}

.global-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #444;
}
.global-nav__split-button {
  display: flex;
  background-color: var(--bs-gray-800);
}
.global-nav__split-button > a {
  flex: 1;
  align-self: center;
  padding: 1rem 0.625rem;
  display: block;
}
.global-nav__split-button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.25rem;
  border-left: 1px solid #444;
}
.global-nav__split-button > button:hover,
.global-nav__split-button > a:hover {
  background-color: var(--bs-gray-900);
}

/* Submenu styles */
.global-nav-submenu {
  list-style: none;
  padding: 0;
  font-size: 0.8em;
  overflow: hidden;
  max-height: 0;
}

.global-nav-submenu.show {
  max-height: 300px;
}

.global-nav-submenu a {
  display: block;
  padding: 1rem 0.625rem;
}
.global-nav-submenu a:hover {
  text-decoration: underline;
}

/* Middle Header */
#banner-img {
  display: block;
  position: relative;
  width: 100%;
}
#middle-header{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  position: relative;
  bottom: 80px;
  width: 100%;
  max-width: 1000px;
  margin: 0;
}
#banner {
  display: flex;
  flex-direction: row;
}
#banner a {
  color: white;
  font-size: 40px;
  align-content: center;
  padding-left: 10px;
}
#banner p {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 10px;
  font-size: 15px;
}

/* Utility styles */

.no-underline {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
#park-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: var(--bs-black);
  position: relative;
  bottom: 80px;
}
#park-header a {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
}
#park-header span {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
svg {
  fill: white;
}
.icon {
  width: 30px;
  height: 30px;
}
.rotate {
  transform: rotate(180deg);
}

/* intro */
.intro {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-self: center;
}
.intro h1 {
  font-family: var(--bs-font-serif);
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0;
}
.intro p {
  font-family: var(--bs-body-font-family);
  margin-bottom: 60px;
}

/* info */
.info {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-self: center;
}
.media-title {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--bs-black);
  font-family: var(--bs-font-sans-serif);
}
.media-card p {
  margin-bottom: 50px;
  font-size: 20px;
}

/* alerts */
:root {
  --alert-closure: #cb2027;
  --alert-caution: #ed7e31;
  --alert-information: #2451a9;
  --alert-danger: #720f04;
};
.alerts > ul {
  list-style: none;
  padding: 0;
}
.alert {
  margin: 0.5rem;
  padding: 0.5rem 0 0.8rem 0;
  display: flex;
  gap: 1em;
  border-bottom: 1px solid var(--bs-grey-3);
}
.alert h3 {
  margin: 0;
  font-size: 1.2em;
}
.alert p {
  margin: 0;
}
.alert svg {
  height: 30px;
  width: 30px;
  margin: 0.25em;
  flex: 0 0 auto;
}
.alert-information {
  color: var(--alert-information);
}
.alert-danger {
  color: var(--alert-danger);
}
.alert-closure {
  color: var(--alert-closure);
}
.alert-caution {
  color: var(--alert-caution);
}

/* visitor services */
.visitor ul {
  list-style: none;
  padding: 0;
}
.visitor li {
  border-bottom: 1px solid var(--bs-grey-3);
  margin-top: 20px;
}
.visitor {
  margin: 1rem;
}
.visitor h3 {
  margin: 0;
  font-size: 1.2em;
}

/* activities */
.activities {
  margin: 1rem;
}
.activities h3 {
  margin: 0;
  font-size: 1.2em;
}

/* Visitor Center */
.vc-name {
  border-bottom: 1px solid var(--bs-gray-400);
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.vc-name svg {
  width: 1em;
  height: 1em;
}
.vc-info figure {
  margin: 1em 3em;
}
.vc-info figcaption {
  font-size: 0.8em;
}
.vc-info figcaption > span {
  display: block;
  font-size: 0.8em;
  font-style: italic;
}

.vc-details-list svg,
.vc-gallery svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: black;
}
.vc-details-list summary {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  border: 1px solid var(--bs-gray-400);
  padding: 0.3em;
}

.addressContainer {
  margin-bottom: 1em;
}
.vc-contact__email, .vc-contact__phone {
  padding-left: 2em;
}
.vc-contact__phone {
  border-bottom: 1px solid var(--bs-gray-400);
  padding-bottom: 1em;
}
.addressContainer, #directionsEl{
  margin-left: 2em;
}

#vcAmenities ul {
  list-style: none;
}
#vcAmenities li {
  margin-bottom: 1em;
}


.vc-gallery > h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}
.vc-gallery ul {
  list-style: none;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.vc-gallery img {
  width: 265px; 
  height: 265px; 
  object-fit: cover;
  object-position: center;
}

.vc-details-list summary::marker,
.vc-details-list summary::-webkit-details-marker {
  display: none;
}

.arrow {
  z-index: 100;
  fill: black;
}

/* .vc-details-list summary::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../images/sprite.symbol.svg#arrow");
  background-size: 1.25rem 1.25rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 100;
  fill: black;
}

.vc-details-list details[open] > summary::after {
  transform: rotate(180deg);
} */

/* footer */
.footer-img {
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: -1;
}
#park-footer {
  font-family: var(--bs-body-font-family);
  padding: 15px;
  padding-left: 20px;
}
.contact h3 {
  font-family: var(--bs-font-serif);
  margin: 5px;
  font-size: 20px;
  margin-top: 20px;
}
.contact h4 {
  font-weight: bold;
  font-size: 19px;
  margin: 5px;
}
.contact p {
  margin: 5px;
  font-size: 18px;
}
#park-footer h3, .city {
  margin-bottom: 20px;
}
  
  
@media (min-width: 800px) {
  body {
    width: 100%;
    max-width: 1000px;
  }
  .intro {
    width: 95%;
  }
  .info{
    flex-direction: row;
    width: 95%;
  }
  .media-card {
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .media-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  .footer-img {
    width: 100%;
    max-width: 1000px;
  }

  .global-nav h2 {
    display: none;
  }
  .global-nav-submenu,
  .global-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .global-nav__split-button {
    background-color: inherit;
  }
  .global-nav__split-button > button {
    display: none;
  }
  .global-nav-submenu {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }
  .global-nav-submenu a {
    padding: 0.625rem;
  }
}
